.history/*
*.pyc
s205487_diagrams.png
foo.png
s205487_voronoi_combined.png
nasa_lineplot.png
nasa_hist.png
nasa_hist_avg.png
nasa_bar_avg.png
nasa_box_avg.png
nasa_heat_month.png
nasa_heat_weekly.png
nasa_heat_monthly.png
nasa_plots/nasa_corr_matrix.png
nasa_plots/nasa_scat_logistic.png
nasa_plots/nasa_scatter_miss_haz_dist.png
nasa_plots/nasa_scatter_miss_haz.png
nasa_plots/nasa_corr_total.png
nasa_plots/nasa_corr_matrix.png
nasa_plots/nasa_heat_monthly.png
nasa_plots/nasa_scat_logistic.png
nasa_plots/nasa_scatter_miss_haz_dist.png
nasa_plots/nasa_scatter_miss_haz.png
mia_5_nasa_data_collection_and_visualization.ipynb
mahmoud_5_nasa_data_collection_and_visualization.ipynb
nasa_plots/nasa_pie.png
